<a href="https://colab.research.google.com/github/IggyZhao/NLP-and-Time-Series-Notes-by-Iggy/blob/master/TFIDF_search.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import necessary libraries
import pandas as pd
import sklearn as sk
import math 
#load up our sample sentences
first= 'And our restaurant in New York serves croquets and bitterballen'
second= 'In the Netherlands you retrieve croquets and frikandellen from the wall'
#split so each word have their own string
first = first.split(" ")
second= second.split(" ")
#join them to remove common duplicate words
total= set(first).union(set(second)).union(set(second))
print(total)
#Now lets add a way to count the words using a dictionary key-value pairing for both sentences
wordDictA = dict.fromkeys(total, 0) 
wordDictB = dict.fromkeys(total, 0)
for word in first:
    wordDictA[word]+=1
    
for word in second:
    wordDictB[word]+=1
#put them in a dataframe and then view the result:
pd.DataFrame([wordDictA, wordDictB])

{'wall', 'New', 'York', 'the', 'frikandellen', 'Netherlands', 'our', 'croquets', 'restaurant', 'bitterballen', 'and', 'from', 'retrieve', 'And', 'In', 'serves', 'in', 'you'}

   wall  New  York  the  frikandellen  ...  And  In  serves  in  you
0     0    1     1    0             0  ...    1   0       1   1    0
1     1    0     0    2             1  ...    0   1       0   0    1

[2 rows x 18 columns]

In [ ]:
#Now writing the TF function:
def computeTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict
#running our sentences through the tf function:
tfFirst = computeTF(wordDictA, first)
tfSecond = computeTF(wordDictB, second)
#Converting to dataframe for visualization
tf_df= pd.DataFrame([tfFirst, tfSecond])

In [ ]:
#creating the log portion of the Excel table we saw earlier
def computeIDF(docList):
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict
#inputing our sentences in the log file
idfs = computeIDF([wordDictA, wordDictB])
#The actual calculation of TF*IDF from the table above:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return tfidf
#running our two sentences through the IDF:
idfFirst = computeTFIDF(tfFirst, idfs)
idfSecond = computeTFIDF(tfSecond, idfs)
#putting it in a dataframe
idf= pd.DataFrame([idfFirst, idfSecond])

In [ ]:
idf

       wall      from      york  ...        in  croquets       you
0  0.000000  0.000000  0.030103  ...  0.030103       0.0  0.000000
1  0.027366  0.027366  0.000000  ...  0.000000       0.0  0.027366

[2 rows x 17 columns]